
/* CUSTOM */
.vis-item-content {
    color: white !important;
    white-space: normal !important;
    /* font-size: 10px;
    max-height: 30px;
    overflow: hidden; */
}
.vis-item .vis-delete {
    display: none;
}
.vis-item {
    background: royalblue;
    background-color: royalblue;
    border-color: white;
    border-radius: 5px !important;
}
.vis-item.vis-range {
    background: royalblue;
    background-color: royalblue;
    border-color: white;
    border-radius: 5px !important;
}